<table>
  <% spot.comments.each do |comment| %>
    <% comment_user = comment.user %>
    <tr>
    	<td>
    		<%= link_to user_path(comment_user), class: "user_#{comment_user.id} user_name" do %>
      		<%= attachment_image_tag comment_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
      		<%= comment_user.name %>
    		<% end %>
    	</td>
    	<td><%= comment.opinion %></td>
    	<td>&nbsp;</td>
    	<% if current_user == comment_user %>
      	<td>
        	<%= link_to spot_comment_path(comment.spot_id, comment.id), method: :delete, remote: true do %>
        	  <i class="far fa-times-circle fa-2x"></i>
        	<% end %>
      	</td>

    	<% end %>
    </tr>
  <% end %>
</table>