
<div class="container">
  <h2>Follower Users</h2>
  <small class="text-muted">フォロワー</small>
<% if @users.exists? %>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>User<small class="text-muted"></br>ユーザー</small></th>
      <th>follow<small class="text-muted"></br>フォロー数</small></th>
      <th>follower<small class="text-muted"></br>フォロワー数</small></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="user_<%= user.id %>">
        <td><%= link_to user_path(user.id) do %>
          <%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' ) %>
          <% end %>
        </td>
        <td><%= link_to user.name, user_path(user.id) ,class: "user_name" %></td>
        <td colspan="1"><%= user.follower.count %></td>
        <td colspan="1"><%= user.followed.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% else %>
  <p class="mt-5">フォロワーはいません</p>
<% end %>

</div>