<div class="container">
 <h4 class="text-center">DM<i class="far fa-envelope-open"></i></h4>
  <p class="mt-1 text-center">You can send messages to each other!</br><small class="text-muted">（お互いにメッセージを送りあうことができます）</small></p>
    <% @entries.each do |entry| %>
      <div class="d-inline-flex mr-4 mt-5">
        <strong>
           <%= attachment_image_tag(entry.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'60x60') %>
            <a class="user_name" href="/users/<%= entry.user.id %>">
              <%= entry.user.name %>
            </a>
        </strong>
      </div>
     <% end %>
      <div class="posts text-right">
       <%= render "message_form", message: @message, room: @room %>
      </div>
      <hr>
      <div class="chats">
        <div class="chat-<%= @room.id %>">
          <%= render "message", messages: @messages %>
        </div>
      </div>
          <%= paginate @messages %>
</div>

