<div class="container">
    <div class="row">
        <h4 class="bg-light text-black px-4 offset-1">ジャンル一覧・追加ページ</h4>
    </div>
  　<%= form_with model: @overseas_area, url: admin_overseas_areas_path, local:true do |f| %>
    <div class="row">
      <div class="col-12">
        <table class="form-group table table-borderless col-6">
          <tr>
              <th>Overseas Area</th>
              <td><%= f.text_field :name %></td>
              <td><%= f.submit "新規登録", class: "btn btn-secondary" %></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
    <div class="row">
        <div class="col-5">
            <table class="table ">
                <thead class="thead-light">
                    <tr>
                        <th>海外エリアジャンル</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @overseas_areas.each do |overseas_area| %>
                    <tr>
                        <td><%= overseas_area.name %></td>
                        <td><%= link_to " Edit", edit_admin_overseas_area_path(overseas_area), class:"btn btn-secondary" %></td>
                        <td><%= link_to "Delete", admin_overseas_area_path(overseas_area), method: :delete, data: {confirm: "本当に削除しますか？"}, class:'btn btn-outline-secondary' %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
