
<div class="container">
  <div class="row">

    <div class="col-3">
    <!--スポット名または住所で検索できるフォーム-->
    <p class="search_bar">Spot name or Address</br>
    <small class="text-muted mt-0 pt-0">スポット名/住所で検索</small></p>
    <%= form_tag all_search_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :key %>
        <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
      </p>
    <% end %>

      <%= render "public/spots/area_search", overseas_areas: @overseas_areas %>
     </div>

    <div class = "col-9 mt-5">
      <div class="text-right">
        <%= link_to "Weekly ranking",rank_search_path, class: "weekly_ranking btn mb-2" %>
      </div>
        <%= render "public/spots/post_list", spots: @spots %>
        <div class="text-right">
        <%= paginate @spots %>
        </div>
    </div>

  </div>
</div>





