
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h4 class="mb-5 text-center">Search results<small class="text-muted">：検索結果</small></h4>
      <% if @search_spots.empty? %>
        <h5 class="text-center">Not posted yet<small class="text-muted">（まだ投稿されていません）</small></h5>
      <% end %>

     <ul>
       <% @search_spots.each do |spot| %>
       <li>
         <div class="photo">
           <%= link_to spot_path(spot.id) do %>
             <% spot.spot_images.first(1).each do |image| %>
             <%= attachment_image_tag image, :image, format: 'jpeg',width: '100%', height: 'auto' %>
           <% end %>
           <% if user_signed_in? %>
             <div class="favorite-btn_<%= spot.id %>">
               <%= render "public/favorites/favorite-btn", spot: spot %>
             </div>
           <% end %>
         </div>
       <% end %>

        <table class="table txt">
          <tr>
            <td>User name<small class="text-muted">：ユーザー名</small></td>
　　　　　　<td><%= link_to spot.user.name, user_path(spot.user.id) ,class: "user_name" %></td>
          </tr>
          <tr>
            <td>Atmosphere<small class="text-muted">：雰囲気</small></td>
            <td><%= spot.overseas_area.name %></td>
          </tr>
          <tr>
            <td>Address<small class="text-muted">：住所</small></td>
            <td><%= spot.address %></td>
          </tr>
           <tr>
            <td>Spot name<small class="text-muted">：スポット名</small></td>
            <td><%= spot.name %></td>
          </tr>
          <tr>
            <td>Spot introduction<small class="text-muted">：紹介文</small></td>
            <td><%= spot.introduction %></td>
          </tr>
        </table>
       </li>
       <% end %>
     </ul>

    </div>
  </div>
</div>