<!--以下地図表示のための記述-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GoogleAPI_Key'] %>&callback=initMap"></script>
  <script type="text/javascript">
    function initMap() {
      //latitude,longitudeから位置を特定
      var test ={lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: test
                });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var contentString = '住所：<%= @spot.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      //Map上の指定した位置にピンを挿して表示する
      var marker = new google.maps.Marker({
                    position:test,
                    map: map,
                    title: contentString
                   });

       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
    }
  </script>
<!--ここまで-->

<div class ="container">
  <h4 class="text-center">Post details</h4>
    <div class="row mt-5">
       <div class="col-md-6 mt-4">
          <div id="slider">
            <% @spot.spot_images.each do |image| %>
             <%= attachment_image_tag image, :image, format: 'jpeg', width: '100%', height: 'auto' %>
            <% end %>
          </div>
       </div>

        <div class='col-md-5 pt-3 ml-3'>
          <table class='table' >
           <tr>
          	  <td>User name</br><small class="text-muted">ユーザー名</small></td>
          	  <td><%= @spot.user.name %></td>
            </tr>
            <tr>
          	  <td>Atmosphere</br><small class="text-muted">雰囲気</small></td>
          	  <td><%= @spot.overseas_area.name %></td>
            </tr>
            <tr>
              <td>Address</br><small class="text-muted">住所</small></td>
              <td><%= @spot.address %></td>
            </tr>
            <tr>
              <td>Map</br><small class="text-muted">地図</small></td>
              <td><div id="map"></div></td>
            </tr>
            <tr>
              <td>Spot name</br><small class="text-muted">スポット名</small></td>
              <td><%= @spot.name %></td>
            </tr>
              <tr>
              <td>Spot introduction</br><small class="text-muted">紹介文</small></td>
              <td><%= @spot.introduction %></td>
            </tr>
            <% if user_signed_in? %>
              <tr>
              　 <td class="favorite-btn_<%= @spot.id %>"><%= render "public/favorites/favorite-btn", spot: @spot %></td>
              　 <td class="comment_<%= @spot.id %>"><%= render 'public/comments/count', spot: @spot %></td>
              </tr>
            <% else %>
              <tr>
                <td colspan="2" class="comment_<%= @spot.id %>"><%= render 'public/comments/count', spot: @spot %></td>
              </tr>
            <% end %>
          </table>
        <% if user_signed_in? %>
          <div class="text-center mt-3">
            <% if @spot.user_id == current_user.id %>
              <%= link_to "Edit", edit_spot_path, class:"btn btn-secondary w-25" %>
              <%= link_to "Delete", spot_path, method: :delete, data: {confirm: "本当に削除しますか？"}, class:'btn btn-outline-secondary ml-4 w-25' %>
            <% end %>
          </div>
        <% end %>

        <h5 class="mt-4">Comment<small class="text-muted">：コメント</small></h5>
        <div class="comment-<%= @spot.id %>">
          <%= render 'public/comments/comment_index', spot: @spot %>
        </div>

        <% if user_signed_in? %>
          <div class="post-comment mb-5">
            <%= render "public/comments/comment_form", spot: @spot, comment: @comment %>
          </div>
        <% end %>

    </div>
</div>







