
<div class="container">
  <div class="row">

    <div class="col-3">
      <%= render "public/spots/area_search", overseas_areas: @overseas_areas %>
    </div>

    <div class="col-9">
      <h3 class="text-center mb-5"><%= @overseas_area.name %></h3>
       <% if @datas.empty? %>
        <h5 class="text-center">まだ投稿されていません</h5>
       <% end %>

     <ul>
       <% @datas.each do |data| %>
       <li>
         <div class="photo">
           <!--投稿写真は最初の１枚目のみ表示-->
           <%= link_to spot_path(data.id) do %>
             <% data.spot_images.first(1).each do |image| %>
             <%= attachment_image_tag image, :image, format: 'jpeg',width: '100%', height: 'auto' %>
           <% end %>
           <!--いいねボタンはログインしている人しか見えないように-->
           <% if user_signed_in? %>
             <div class="favorite-btn_<%= data.id %>">
              <%= render "public/favorites/favorite-btn", spot: data %>
             </div>
           <% end %>
         </div>
       <% end %>

        <table class="table txt">
          <tr>
            <td>User name</br><small class="text-muted">ユーザー名</small></td>
　　　　　　<td><%= link_to data.user.name, user_path(data.user.id) ,class: "user_name" %></td>
          </tr>
          <tr>
            <td>Atmosphere</br><small class="text-muted">雰囲気</small></td>
            <td><%= data.overseas_area.name %></td>
          </tr>
          <tr>
            <td>Address</br><small class="text-muted">住所</small></td>
            <td><%= data.address %></td>
          </tr>
           <tr>
            <td>Spot name</br><small class="text-muted">スポット名</small></td>
            <td><%= data.name %></td>
          </tr>
          <tr>
            <td>Introduction</br><small class="text-muted">スポット紹介</small></td>
            <td><%= data.introduction %></td>
          </tr>
        </table>
       </li>
       <% end %>
     </ul>

     <%= paginate @datas %>

    </div>
  </div>
</div>