
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render "public/spots/area_search", overseas_areas: @overseas_areas %>
    </div>
    <div class="col-10">

     <% if @datas.empty? %>
      <h4>Not posted yet...</h4>
     <% end %>


     <ul>
       <% @datas.each do |data| %>
       <li>
         <div class="photo">
           <%= link_to spot_path(data.id) do %>
           <% data.spot_images.first(1).each do |image| %>
           <%= attachment_image_tag image, :image, format: 'jpeg',width: '100%', height: 'auto' %>
           <% end %>
             <% if user_signed_in? %>
               <div class="favorite-btn_<%= data.id %>">
                <%= render "public/favorites/favorite-btn", spot: data %>
               </div>
             <% end %>
         </div>
       <% end %>

        <table class="table txt">
          <tr>
            <td>User name<small class="text-muted">：ユーザー名</small></td>
　　　　　　<td><%= link_to data.user.name, user_path(data.user.id) %></td>
          </tr>
　　　　　<tr>
　　　　　　<td>Area<small class="text-muted">：エリア</small></td>
　　　　　　<td><%= data.japan_area %></td>
          </tr>
          <tr>
            <td>Atmosphere<small class="text-muted">：雰囲気</small></td>
            <td><%= data.overseas_area.name %></td>
          </tr>
          <tr>
            <td>Address<small class="text-muted">：住所</small></td>
            <td><%= data.address %></td>
          </tr>
           <tr>
            <td>Spot name<small class="text-muted">：スポット名</small></td>
            <td><%= data.name %></td>
          </tr>
          <tr>
            <td>Spot introduction<small class="text-muted">：紹介文</small></td>
            <td><%= data.introduction %></td>
          </tr>
        </table>
       </li>
       <% end %>
     </ul>

    </div>


  </div>
</div>