<% notifications.each do |notification| %>
<% unless notification.visitor_id == notification.visited_id %>
  <div class="row mb-3">
    <div class="col-1">
      <%= link_to user_path(notification.visitor.id) do %>
        <%= attachment_image_tag notification.visitor, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' %>
      <% end %>
    </div>
    <div class="col-11 text-left">
      <%= link_to user_path(notification.visitor.id) do %>
        <strong class="ml-3"><%= notification.visitor.name %></strong>
      <% end %>
      <span>さんが</span>
      <% case notification.action %>
      <% when 'follow' then %>
        <%= "あなたをフォローしました" %>
      <% when 'dm' then %>
      <%= link_to 'あなたにDM', room_path(notification.room) %>
        <span>を送りました</span>
        <p class="ml-3 small">
          <% Room.find_by(id: notification.room_id ) %>
          <span class="text-muted">
            (<%= time_ago_in_words(notification.created_at).upcase %>)
          </span>
        </p>
      <% when 'favorite' then %>
        <%= link_to 'あなたの投稿', spot_path(notification.spot) %>
        <span>にいいねしました</span>
      <% when 'comment' then %>
          <%= link_to "あなたの投稿", spot_path(notification.spot) %>

        <%= "にコメントしました" %>
        <p class="ml-3 small">
          <%= Comment.find_by(id: notification.comment_id ) %>
          <span class="text-muted">
            (<%= time_ago_in_words(notification.created_at).upcase %>)
          </span>
        </p>
      <% end %>
    </div>
  </div>
 <% end %>
<% end %>