<!DOCTYPE html>
<html>
  <head>
    <title>SmallOverseas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ここからヘッダー-->
    <header>
      <% if admin_signed_in? %>
           <%= link_to "ユーザー一覧" %>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-menu-text m-2" %>
      <% end %>



    </header>
    <%= yield %>
  </body>
</html>
