
<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>SmallOverseas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--下の2行を追加-->

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <!--ここからヘッダー-->
    <header>
     <div class="navbar">
       <div class="navbar navbar-brand mt-2">
          <%= link_to root_path, class: "logo_link" do %>
            <div class="logo"><%= image_tag asset_path("logo.jpg", alt: "ロゴ") %>
            </div>
　　　　 <% end %>
　　　 </div>
　　</div>
    </header>
    <%= yield %>

     <!--フッター-->

    <footer class="p-5 mt-5">
        <div class="myfooter">
          <div class="container">
            <div class="row">
              <div class="col-6 text-mated">
                <p class="contact">Contact</br><small class="text-muted">(お問い合わせ)</small></p>
                <p class="mail">Mail<i class="fas fa-envelope-square ml-1"></i>：<u><a href="mailto:info@small_overseas.com" id="info_mail">info@small_overseas.com</a></u></p>
              </div>
            </div>
          </div>
        <div>
            <div class="text-mated text-center copy_right">©small_overseas</div>
        </div>
      </div>
    </footer>


  </body>
</html>
